{% extends 'base.html' %}
{% block body %}
<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-4">
          <p class="text-warning fs-1" style="--bs-text-opacity: .9;"><b>About <span class="text-danger" style="--bs-text-opacity: .9;">us</span></b></p>
          <br>
          <p class="fw-lighter fs-5 text-break">
            Based on our experience, we know that immigration is not an easy process. That's why we've created <b>SmartStream</b>
            a platform designed to assist you throughout the journey. Our primary goal is to provide you with the right tools and 
            guidance to navigate the pathway to achieving Canadian Permanent Residency (PR).
            <br>
            At <b>SmartStream</b>, we are committed to data privacy. We ensure that we only collect the minimal information required 
            for login and never store more than it.
            <br>
            Furthermore, we understand that nowadays immigration programs are dynamic and constantly evolving. To keep you informed 
            with the latest updates, we continuously refresh our information using sophisticated AI-driven techniques. This ensures 
            that you always have access to the most current and relevant details.
          </p>
        </div>
    </div>
</div>
{% endblock %}